@mixin mapadding {
  padding: 10px;
  margin: 10px;
}
#reactApp {
  header {
    background: #a1a1a1;
    @include mapadding;
  }
  article {
    @include mapadding;
    border: 1px solid grey;
  }
  .mapadding {
    @include mapadding;
  }
  input[type="number"] {
    width: 40px;
    margin-right: 5px;
  }
}
